/* src/assets/main.css */
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-800: #1f2937;
  --color-gray-950: #030712;
}

@layer base {
  body {
    @apply m-0 antialiased bg-white text-gray-400 dark:bg-gray-950 dark:text-gray-200 overflow-hidden;
  }
}